doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= htmlWebpackPlugin.options.title

  body
    div(id='app')
      router-view
    noscript Javascript support is required for this application.
    script
      | if ('serviceWorker' in navigator) {
      |   window.addEventListener('load', () => {
      |     navigator.serviceWorker.register('/service-worker.js')
      |   })
      | }
